.table1{
  display: flex;
  flex-direction: row;
}
.ty1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.span1{
  color: skyblue;
}
.span2{
  color:rgb(4, 4, 4);
  font-size: 15px;
}
.h2{
  color: black;
  font-size: 13px;
  margin: 0;
}
.div1{
  display: flex;
  align-items: center;
  justify-content: center;

}


.divd{
  margin-right: 20px;
  margin-top: 24px;
}

  
.div4{
  
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-block: 8px;
  width: 15rem;
}
.span5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

}
.tc1{
  height: 100%;
}

.isbvisou{
  /* margin-block: 20px; */
  position: relative;
}

.tt{
  margin-block: -19px;
}
.tcell{
  position: sticky;
  left: 0;
  z-index: 9;
}
.carddd{
  position: sticky;
  right: 0;
  z-index: 9;
}
.b1{
  color:"red"
}
.div1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}
.div{
  margin: -6px;
  padding-left: 5px;
}
.h2{
  margin: 0;
}
.header{
  margin: 0;
  color: green;
  padding: 0;
}
.cardbtn{
  padding-top: 1rempx;
}
.divdd{
  padding: 0px 10px 0px 20px;


}
.ty2{
  padding-left: 20px;
}
.sl{
  background-color: "red"
}
.div9{
  background-color: red;
  width: 10%;
  height: 18px;
  position: absolute;
  left:112px;
}
.div8{
  background-color: gray;
  height: 18px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  position: relative;
}
.div6{
  background-color: green;
  width: 34px;
  height: 18px;
  position: absolute;
  left: 143px
}
.div11{
  background-color: gray;
  height: 27px;
  width: 2px;
  position:relative;
  top:-4px;

}
